.groceries {
    max-height: 70dvh; 
    overflow-y: auto;
}

@media (max-width: 500px) {
    .groceries {
        border: 0px solid black;
        max-height: 60dvh;
        overflow-y: auto;
    }
}