<div class="home position-relative">
  <div class="row mx-0">
    <div class="col-lg-4 p-0 info-column" [ngClass]="{'d-none d-lg-block': currentSection() !== 'GROCERIES'}">
      <app-header />
      <div class="row border mx-0 h-100">
        <div class="col-lg-2 d-none d-lg-block p-0 border-end">
          <app-navbar [(currentSection)]="currentSecondSection" />
        </div>
        <div class="col-lg-10 p-3 p-lg-2 py-lg-3">
          <div class="header-row mb-3">
            <app-categories />
          </div>
          <div class="body-row px-3 pb-3">
            @for (grocery of groceries() ; track grocery.id) {
            <app-grocery [grocery]="grocery" />
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 p-3" [ngClass]="{'d-none d-lg-block': currentSection() !== 'LIST'}">
      <div class="header-row d-flex d-lg-block align-items-center mb-3">
        <div class="d-flex align-items-center d-lg-none  me-auto">
          <span class="d-flex align-items-center" [ngClass]="{'d-none': currentSecondSection() === 'RECEIPT'}">
            <span class="d-block d-lg-none material-symbols-outlined me-1" (click)="changeSecondSection('RECEIPT')"
              [ngClass]="{'d-none': currentSecondSection() === 'RECEIPT'}">
              receipt_long
            </span>
            See receipt
          </span>
          <span class="d-flex align-items-center" [ngClass]="{'d-none': currentSecondSection() === 'LIST'}">
            <span class="d-block d-lg-none material-symbols-outlined me-1" (click)="changeSecondSection('LIST')">
              edit_calendar
            </span>
            See grocery list
          </span>

        </div>
        <app-day-selector />
      </div>
      <div class="body-row">
        <div [class.d-none]="currentSecondSection() !== 'LIST'">
          <app-groceries-list />
        </div>
        <div [class.d-none]="currentSecondSection() !== 'RECEIPT'">
          <app-receipt />
        </div>
      </div>
    </div>
  </div>
  <app-navbar-sm [(currentSection)]="currentSection" />
</div>