<div class="home position-relative">
  <div class="row mx-0">
    <div class="col-lg-4 p-0 info-column" [ngClass]="{'d-none d-lg-block': currentSection() !== 'GROCERIES'}">
      <app-header />
      <div class="row border mx-0 h-100">
        <div class="col-lg-2 d-none d-lg-block p-0 border-end">
          <app-navbar />
        </div>
        <div class="col-lg-10 p-3 p-lg-2 py-lg-3">
          <div class="header-row mb-3">
            <app-categories />
          </div>
          <div class="body-row px-3 pb-3">
            @for (grocery of groceries() ; track grocery.id) {
            <app-grocery [grocery]="grocery" />
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8 p-3" [ngClass]="{'d-none d-lg-block': currentSection() !== 'LIST'}">
      <div class="header-row mb-3">
        <app-day-selector />
      </div>
      <div class="body-row">
        <app-groceries-list />
      </div>
    </div>
  </div>
  <app-navbar-sm (changeCurrentSection)="changeCurrentSection($event)" />
</div>