<div class="row border mx-0 bg-white rounded grocery shadow-sm mb-3">
    <div class="col-lg-6">
        <img 
            loading="lazy"
            [src]="grocery().imageUrl || 'https://supermercadosnacional.com/media/catalog/product/cache/afcac67a0d77755283578b677f040f2b/2/1/2102452-1.jpg'" 
            class="card-img-top border-bottom" 
            [alt]="grocery().name"
        >
    </div>
    <div class="col-lg-6 border-start">     
        <div class="row p-3" style="height: 50%">
            <h5 class="card-title text-truncate">{{ grocery().name }}</h5>
            <div class="d-flex align-items-center">
                <span>{{ grocery().cost | currency }}</span>
            </div>
        </div>
        <div class="row" style="height: 50%;">
            @if (addButton()) {
                <div 
                    class="col-6 d-flex align-items-center justify-content-center option" 
                    (click)="addGrocery()"
                >
                    <button class="btn rounded-pill px-3 mx-auto bg-accent w-100">
                        + Add
                    </button>
                </div>
            }
            <div 
                class="col d-flex align-items-center justify-content-center option" 
                (click)="handleDeleteGrocery()"
            >
                <button class="btn rounded-pill px-3 mx-auto bg-accent w-100">
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>