<!-- Open modal button -->
<span class="material-symbols-outlined hover-accent open-button" (click)="showModal()">
    folder_open
</span>

<!-- Modal -->
<app-modal [title]="'Your grocery lists'" [isOpen]="isModalOpen()" [width]="'75dvw'" (hideModal)="hideModal()">
    <app-create-grocery-list />
    <div class="d-flex flex-wrap gap-5 align-items-center justify-content-center">
        @for (list of groceryLists() ; track list.id)
        {
        <div class="border shadow-sm p-3 w-25 w-lg-100 mt-3">
            <div class="position-relative mb-3 border-bottom">
                <h6 class="text-truncate mb-2">{{ list.name }}</h6>
                <p class="text-truncate mb-3">{{ list.description }}</p>
                <app-edit-grocery-list-button [groceryList]="list" />
            </div>
            <div class="d-flex flex-column border-bottom mb-3">
                <span class="text-muted mb-2">
                    Items: {{ list.groceries.length }}
                </span>
                <span class="text-muted mb-3">
                    Total cost: {{ calculateTotalPrice(list) | currency }}
                </span>
            </div>
            <button class="btn bg-accent w-100" (click)="selectGroceryList(list)">
                Select
            </button>
        </div>
        } @empty {
        @if (!hasFetched()) {
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-accent" role="status" style="height: 10rem; width: 10rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        } @else {
        <div>
            <h1>Start creating your first list</h1>
        </div>
        }
        }
    </div>
</app-modal>