<!-- Open modal button -->
<span class="material-symbols-outlined hover" (click)="showModal()">
    folder_open
</span>

<!-- Modal -->
<app-modal 
    [title]="'Your grocery lists'" 
    [isOpen]="isModalOpen()" 
    [width]="'75dvw'" [height]="'90dvh'"
    (hideModal)="hideModal()" 
>
    <app-create-grocery-list />
    <div class="d-flex align-items-center justify-content-center">
        @for (list of groceryLists() ; track list.id)
        {
            <div class="border shadow-sm p-3 w-25">
                <div class="mb-3 border-bottom">
                    {{ list.name }}
                </div>
                <button class="btn bg-accent w-100" (click)="selectGroceryList(list)">
                    Select
                </button>
                <button class="btn btn-danger w-100" (click)="deleteGroceryList(list)">
                    Delete
                </button>
            </div>
        }
    </div>
</app-modal>