<!-- Open modal button -->
<button class="btn rounded-pill bg-accent me-3" (click)="showModal()">
    + Add new
</button>

<!-- Modal -->
<app-modal title="+ Add new grocery list" [isOpen]="isModalShowing()" [width]="'43dvw'" (onHide)="onHideModal()">
    <!-- Create grocery form -->
    <form class="p-lg-3" [formGroup]="form" (submit)="handleSubmit()">
        <!-- Name input and label -->
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <label class="form-label" for="name">
                    Name
                </label>
                <!-- Invalid field text -->
                @if (isFormFieldValid('name')) {
                <span class="text-danger ms-auto">
                    Name is required.
                </span>
                }
            </div>
            <!-- Text input for name -->
            <input class="form-control mb-3" id="name" formControlName="name" required />
        </div>
        <!-- Description input and label -->
        <div class="mb-5">
            <div class="d-flex align-items-center">
                <label class="form-label" for="description">
                    Description
                </label>
                <!-- Invalid field text -->
                @if (isFormFieldValid('description')) {
                <span class="text-danger ms-auto">
                    Description is required.
                </span>
                }
            </div>
            <input class="form-control mb-3" placeholder="Description" formControlName="description" required />
        </div>
        <!-- Submit button -->
        <button class="btn rounded-pill bg-accent w-100" type="submit">
            Submit
        </button>
    </form>
</app-modal>