<form [formGroup]="addGroceryForm" (ngSubmit)="onSubmit()">
    <label class="form-label" for="name">Name {{ addGroceryForm.value.name }}</label>
    <input class="form-control mb-3" name="name" id="name" formControlName="name" />

    <label class="form-label" for="description">Description {{ addGroceryForm.value.description }}</label>
    <input class="form-control mb-3" name="description" id="description" formControlName="description" />

    <label class="form-label" for="url">Url {{ addGroceryForm.value.url }}</label>
    <input class="form-control mb-3" name="url" id="url" formControlName="url" />

    <label class="form-label" for="imageUrl">Image URL {{ addGroceryForm.value.imageUrl }} </label>
    <input class="form-control mb-3" name="imageUrl" id="imageUrl" formControlName="imageUrl" />

    <label class="form-label" for="cost">Cost {{ addGroceryForm.value.cost }}</label>
    <input class="form-control mb-3" name="cost" id="cost" type="number" formControlName="cost" />

    Day: {{ selectedDay() }}
    
    <button class="btn bg-accent w-100" type="submit">Submit</button>
</form>