<!-- Open modal button -->
<span class="position-absolute top-0 end-0 material-symbols-outlined hover" (click)="onShowModal()">
    settings
</span>

<!-- Modal -->
<app-modal title="Edit grocery list" [isOpen]="isModalShowing()" (onHide)="onHideModal()" width="43dvw">
    <!-- Form -->
    <form [formGroup]="form" (submit)="handleSubmit()">
        <!-- Name input and label -->
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <label class="form-label" for="name">
                    Name
                </label>
                <!-- Invalid field text -->
                @if (isFormFieldValid('name')) {
                <span class="text-danger ms-auto">
                    Name is required.
                </span>
                }
            </div>
            <input class="form-control mb-3" id="name" formControlName="name" required />
        </div>

        <!-- Description input and label -->
        <div class="mb-5">
            <div class="d-flex align-items-center">
                <label class="form-label" for="description">
                    Description
                </label>
                <!-- Invalid field text -->
                @if (isFormFieldValid('description')) {
                <span class="text-danger ms-auto">
                    Description is required.
                </span>
                }
            </div>
            <input class="form-control mb-3" placeholder="Description" formControlName="description" required />
        </div>

        <!-- Submit and delete button container-->
        <div class="row mx-0">
            <!-- Submit button-->
            <div class="col-lg-6">
                <button class="btn rounded-pill bg-accent w-100" type="submit">
                    Submit
                </button>
            </div>
            <!--Delete button-->
            <div class="col-lg-6">
                <button class="btn rounded-pill btn-outline-danger w-100" (click)="handleDeleteGroceryList()">
                    Delete
                </button>
            </div>
        </div>
    </form>
</app-modal>