/* You can add global styles to this file, and also import other style files */
:root {
    --accent-color: #2e8b57;
    --accent-color-transparent: rgba(46, 139, 87, 0.5);
    --bg-color: #FAF9F6;
}

html {
    font-family: Arial, Helvetica, sans-serif !important;
}

.hover:hover {
    cursor: pointer;
}

.hover-accent:hover {
    cursor: pointer;
    color: var(--accent-color);
}

.text-accent {
    color: var(--accent-color)
}

.bg-accent {
    background: var(--accent-color);
    color: #fff;
}

.active, .active-link {
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    background: var(--accent-color-transparent); /* Background color */
    z-index: 3; /* Keep it behind */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it */
    border-radius: 10px; /* Optional rounded corners */
}

.active-link::before {
    content: "";
    position: absolute;
    background: var(--accent-color-transparent); /* Background color */
    z-index: 3; /* Keep it behind */
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%); /* Center it */
    border-radius: 10px; /* Optional rounded corners */
}

body {
    background-color: var(--bg-color);
}

.fade-in-animation {
    animation-duration: .6s;
    animation-fill-mode: backwards;
    animation-name: fadeIn;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
    background-color: #ffe6e6; /* Light red background */
}

.highlighted-input > label {
    text-decoration: line-through;
}

::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--accent-color); /* Apply accent color */
    border-radius: 5px; /* Rounded edges */
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Light background */
}


@media (max-width: 500px) {
    ::-webkit-scrollbar {
        width: 0px;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}
