<div class="d-block d-lg-none navbar-sm position-absolute bottom-0 left-0 bg-white border-top d-flex align-items-center w-100">
    <div class="row mx-0 w-100">
        <div class="col d-flex align-items-center justify-content-center p-3">
            <span (click)="handleChangeCurrentSection('GROCERIES')">
                <span class="material-symbols-outlined text-accent">
                    grocery
                </span>
            </span>
        </div>
        <div class="col d-flex align-items-center justify-content-center p-3">
            <app-add-grocery-button [text]="'+'"/>
        </div>
        <div class="col d-flex align-items-center justify-content-center p-3">
            <span (click)="handleChangeCurrentSection('LIST')">
                <span class="material-symbols-outlined text-accent">
                    edit_calendar
                </span>
            </span>
        </div>
    </div>
</div>