<!-- Day selector for desktops, a list of buttons -->
<div class="d-none d-lg-flex justify-content-center gap-3">
    @for (day of days; track day) {
    <button class="rounded-pill shadow-sm day-button border px-3 p-2"
        [ngClass]="{'active' : currentDay() === day.toLocaleLowerCase()}" (click)="handleSelectDay(day.toLowerCase())">
        {{ day | titlecase }}
    </button>
    }
</div>
<!-- Day selector for mobile devices, a select form -->
<select class="d-block d-lg-none form-select" (change)="handleOnChange($event)">
    @for (day of days; track day) {
    <option [value]="day.toLocaleLowerCase()">{{ day | titlecase }}</option>
    }
</select>