.body-row {
    height: 75%;
    overflow-y: auto;
}

.header-row {
    max-height: 20%;
    overflow-y: auto;
}

.home {
    height: 92dvh;  /* Navbar is on top so less -8 */
    overflow-y: hidden;
}

@media (max-width: 500px) {
    .body-row {
        /* navbar-sm is on bottom and has a different z-index so it will cover some things */
        height: 80dvh;
        overflow-y: auto;
    }

    .home {
        height: 100dvh;  /* Navbar is on top so less -8 */
    }
}
