<div class="background d-flex align-items-center justify-content-center h-100">
    <div class="form-container rounded-4 w-50 p-5 shadow-lg">
        <!-- Form -->
        <form [formGroup]="form" (submit)="handleSubmit()">
            <!-- Username -->
            <div class="mb-3">
                <label id="username">Username</label>
                <input 
                    class="form-control" 
                    id="username" 
                    placeholder="Username" 
                    formControlName="username" 
                />
            </div>
            <!-- Password -->
            <div class="mb-3">
                <label id="password">Password</label>
                <input 
                    class="form-control" 
                    id="password" 
                    type="password" 
                    formControlName="password" 
                />
            </div>
            <!-- Submit and more info -->
            <div>
                <span>Don't have an account yet?</span>&nbsp;<a routerLink="signup">register here!</a>
                <button class="btn btn-success w-100" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>