<div class="row bg-white mx-0">
    <div class="col-lg-5 p-lg-5 d-flex align-items-center justify-content-center">
        <div class="rounded-3 p-3 bg-white">
            <h1 class="text-accent mb-5">Plan your groceries shopping effectively and shareable</h1>
            <p class="mb-5">
                <b>Effortlessly organize your grocery shopping</b> with our intuitive app. Add your groceries, group
                them by
                category, and create a dedicated grocery list for each day. Whether you're planning for the week or just
                a quick run to the store, our app helps you stay on track. You can even <b>generate and export</b> a
                detailed
                receipt for easy reference.
            </p>
            <p class="mb-5">
                With <b>shareable lists</b>, you can collaborate with friends or family and make your grocery shopping a
                breeze!
            </p>
            <div>
                <span>Don't have an account yet?</span>&nbsp;<a routerLink="signup">register here!</a>
                <button class="btn btn-success rounded-pill w-100 mt-3" type="submit" routerLink="/login">
                    Login
                </button>
            </div>
        </div>

    </div>
    <div class="col-lg-7 bg-app">
        <div class="hero-photo-gallery position-relative">
            <img src="grocery-list.jpg" class="shadow-lg rounded-3" id="img-1" />
            <img src="groceries.jpg" class="shadow-lg rounded-3" id="img-2" />
            <img src="grocery-lists.jpg" class="shadow-lg rounded-3" id="img-3" />
        </div>
    </div>
</div>