.groceries-list {
    width: 50%;
    max-width: 113mm;
    aspect-ratio: 210 / 297; /* Keeps A4 aspect ratio */
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid var(--accent-color);
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.grocery-label:hover + .grocery-widget[data-grocery] {
    visibility: visible;
}

.grocery-widget {
    z-index: 9999;
    visibility: hidden;
    position: absolute;
    top: -20px;
}

@media (max-width: 500px) {
    .groceries-list {
        width: 100%;
    }
}