/* You can add global styles to this file, and also import other style files */
:root {
    --accent-color: #2e8b57;
    --bg-color: #FAF9F6;
}

html {
    font-family: Arial, Helvetica, sans-serif !important;
}

.text-accent {
    color: var(--accent-color)
}

.bg-accent {
    background: var(--accent-color);
    color: #fff;
}

body {
    background-color: var(--bg-color);
    overflow-y: hidden;
}