<button class="btn rounded-pill bg-accent me-3" (click)="showModal()">
    + Add new
</button>

<app-modal title="+ Add new grocery list" [isOpen]="isModalShowing()" [width]="'50dvw'" (hideModal)="hideModal()">
    <div>
        <form class="p-lg-3" [formGroup]="form" (submit)="handleSubmit()">
            <input class="form-control mb-3" placeholder="Name" formControlName="name" required />
            <input class="form-control mb-3" placeholder="Description" formControlName="description" required />
            <button class="btn rounded-pill bg-accent w-100" type="submit">
                Submit
            </button>
        </form>
    </div>
</app-modal>